@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--
  Author:    John Huynh
  Partner:   None
  Date:      September 1,2021
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and John Huynh- This work may not be copied for use in Academic Coursework.

  I, John Huynh, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

     Table of applicants for TA positions. Shows status, GPA, times hired, and a link to their past reviews and their personal application. 
-->
<div id="applicants_header" >
    <h1 class="header">Applicants</h1>
</div>

<div id="applicants_body">
    <!--Table of applicants-->
    <table class="style_table">
        <!--header for table-->
        <thead>
            <tr>
                <th>Name</th>
                <th>GPA</th>
                <th>Status</th>
                <th># of Times Hired</th>
                <th>Past Reviews</th>
            </tr>
        </thead>
        <!--Applicants and their neccessary information.-->
        <tr>
            <td><a href="/Applications/Index">John Huynh</a></td>
            <td>5.0</td>
            <td>Assigned</td>
            <td>10</td>
            <td><a href="#">Past Reviews</a></td>
        </tr>
        <tr>
            <td><a href="/Applications/Index">Jonatahn rodiguz</a></td>
            <td>-1.0</td>
            <td>Under Consideration</td>
            <td>0</td>
            <td><a href="#">Past Reviews</a></td>
        </tr>
        <tr>
            <td><a href="/Applications/Index">Gymmie Trinh</a></td>
            <td>4.0</td>
            <td>Assigned</td>
            <td>0</td>
            <td><a href="#">Past Reviews</a></td>
        </tr>
        <tr>
            <td><a href="/Applications/Index">Jaycob ayy</a></td>
            <td>4.0</td>
            <td>Assigned</td>
            <td>4</td>
            <td><a href="#">Past Reviews</a></td>
        </tr>
        <tr>
            <td><a href="/Applications/Index">Eduardo Valdivia</a></td>
            <td>4.5</td>
            <td>Assigned</td>
            <td>1</td>
            <td><a href="#">Past Reviews</a></td>
        </tr>
        <tr>
            <td><a href="/Applications/Index">Alexander Valdivia</a></td>
            <td>3.5</td>
            <td>Under Consideration</td>
            <td>2</td>
            <td><a href="#">Past Reviews</a></td>
        </tr>
        <tr>
            <td><a href="/Applications/Index">Milo Huynh</a></td>
            <td>2.0</td>
            <td>Assigned</td>
            <td>0</td>
            <td><a href="#">Past Reviews</a></td>
        </tr>
        <tr>
            <td><a href="/Applications/Index">Kadyn Lo</a></td>
            <td>1.0</td>
            <td>Under Consideration</td>
            <td>1</td>
            <td><a href="#">Past Reviews</a></td>
        </tr>
    </table>
</div>
